body {
    margin: 0;
    font-family: Arial, sans-serif;
   background-color: #454745;
}

.navbar{
    display: flex;
    color: white;
    margin: auto;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.navbar-left .logo img{
    height: 100px;
}


.navbar-center {
display: flex;
list-style: none;
margin: 0 auto;
padding: 0;
}


.navbar-center li{
    margin: 0 20px;
    font-size: 1.2rem;
}

.navbar-right{
    display: flex;
    color: white;
    background-color: transparent;
    list-style-type: none;

}

.navbar-right div{
   border-radius: 50%;
    margin: 0 5px;
    
}

.navbar-right .telegram, .twitter {
    width:40px;
    height: 40px;

}


/* .hero {
    background-image: url('bgjerryedited.jpg');
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;   
    height: 100vh;                 
    position: relative;    
       
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Optional: Dark overlay with less opacity */
    

.hero-content {

    color: white;
    text-align: center;
    padding: 20px;
}

.hero-content h1{
    font-size: 3rem;
color: #dc710f;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero-content p{
    font-size: 1.5rem;
 
    }
    

.hero-content{
    display: flex;
}
  

.hero-image img{
    max-width: 80%;
    height: auto;
}

.join-button{
    padding: 10px 20px;
    background-color: #dc710f;
    border: none;
    font-size: large;
    color: white;
    cursor: pointer;
}



.hero-two-text{
font-size: 40px;
padding: 5px;
 margin: 50px auto;
 max-width: 100%;
 width: 500px;
}

.hero-two-image img{ 
    max-width: 100%;
    /* margin-top: 40px; */
    }



    
.hero-two {
     background-color: #c3c7ca;            
      display: flex;
width: fit-content;
margin: auto;
     
}


.hero-three{
    display: flex;
    width: fit-content;
    margin: auto;
    background-color: #c3c7ca;   
    }

    .hero-three-image img{ 
        max-width: 100%;
        /* margin-top: 40px; */
        }

.roadmap {
   
    margin: 40px auto;
    padding: 20px;

    /* background-color: #f9f9f9; */
    border-radius: 10px;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  }

  .roadmap h2 {
    text-align: center;
    color: #dc710f;
    font-size: 36px;
    margin-bottom: 40px;
  }

  /* .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 0;
  } */

  /* .timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #cb8622;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
  } */

  .timeline-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
  }


  .timeline-item img{
    width: 100px;
    }
    
  
  .timeline-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  
  .timeline-date {
    background-color:#dc710f;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    width: fit-content;
    font-size: 18px;
  }
  
  .timeline-content {
    width: 45%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .timeline-content h3 {
    margin: 0 0 10px;
    color: #333333;
  }
  
  .timeline-content p {
    margin: 0;
    color: #666666;
    font-size: 16px;
  }


  .tokenomics-card {
    border-radius: 15px;
    background-color: #9b541f;
    padding: 20px;
    color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 50px auto;
    max-width: 90%;
    width: 500px;
  }
  
  
  .token-details {
    margin-top: 20px;
  }
  
  .token-details p {
    font-size: 1rem;
   
  }
  
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  
  
  

  .cta-section {
    background-color: #9b541f;
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  
.cta-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .cta-section p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    background-color: #666666;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: hsl(120, 1%, 27%);
  }


  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-content {
        flex-direction: row;
        text-align: center;
    }

    .hero-image img {
        max-width: 80%;
    }

    .timeline-item {
        flex-direction: row;
    }

    .tokenomics-card {
        width: 70%;
        margin: 5px auto;
    }

    .tokenomics-card , h1{
       font-size: 1rem;
    }

    .hero-two-image{
        width: 100%;
        margin: 5px auto;
    }

     .timeline-date{
font-size: 0.5rem;
            }

}

.timeline-item{
    font-size: 1rem;
}

.hide-section{
    display: none;
}
@media only screen and (max-width: 600px) {
    .navbar {
       
        align-items: flex-start;
    }

    .navbar-center {
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }

    .navbar-center li {
        margin: 10px 0;
    }

    .hero-content {
        flex-direction: column;
        padding: 20px;
        font-size: 1rem;
    }

    .hero-two-content {
        flex-direction: column;
        text-align: center;
    }

    .hero-two-text p {
        font-size: 1.5rem;
    }

    .timeline-item {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .timeline-content {
        width: 90%;
    }

    .tokenomics-card, .cta-section h2 {
        font-size: 1.5rem;
    }

    

.hero-two-text{
    font-size: 40px;
    padding: 5px;
     margin: 50px auto;
     max-width: 100%;
     width: 400px;
    }
    
    .hero-two-image img{ 
        max-width: 100%;
        /* margin-top: 40px; */
        }
    
    
.hero-three{
    width: auto;
}

.hero-two{
    width: auto;
}



    
        .hero-three-image img{ 
            max-width: 100%;
        
            }

            .timeline-date{
                display: none;
            }

}